<canvas id="mainCanvas" width="1000" height="800"
        style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
<canvas id="mealCanvas" width="1000" height="800"
        style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
<h1>trnrt</h1>
