<canvas id="mainCanvas" width="2000" height="800"
        style="position: absolute; left: 0; top: 0; z-index: 9;"></canvas>
<canvas id="mealCanvas" width="2000" height="800"
        style="position: absolute; left: 0; top: 0; z-index: -999;"></canvas>
<div class="score">Score: <span id="score"></span></div>
