<form id="register" method="post">
  <label>Register</label>
  <input  id="name" name="name" placeholder="Name" type="text">
  <input type="password"  id="password" placeholder="Password">
  <input name="submit" type="submit" value="Register">
</form>
<script>
  var login = localStorage.getItem('login');
  if (login && login.length) {
    window.location.href = "/game";
  }
</script>
